* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

#conta {
    text-transform: none;
    text-decoration: none;
    color: grey;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 50%;
    border-radius: 20px;
    background-color: deepskyblue;
}