* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login {
    width: 50%;
    background-color: deepskyblue;
}

#conta {
    text-transform: none;
    text-decoration: none;
    color: grey;
}