* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn {
    background-color: deepskyblue;
    color: white;
}

input[type=text] {
    background-color: darkgrey;
    color: white;
}

#esqueci {
    color: deepskyblue;
} 

